
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand" id='title'>
      <span style="margin:0px">        {{#link-to 'home' }} {{ currentSection.subdomain }} {{/link-to}}
      </span>  
      <span class="navbar-banner"> - lightweight discourse forums</span>

      </div>

    </div>




    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        {{#if signedIn}}
          <li class='current-user dropdown'>
            <a class='icon'
               data-dropdown="user-dropdown"
               data-render="renderUserDropdown"
               href="#"
               title='me'
               id="current-user">
               <img width="32" height="32" {{bind-attr src="currentUser.avatarUrl" title="currentUser.username"}} class="avatar">
            </a>
          </li>
          {{else}}
          <button {{action "showSignUp"}} class='btn btn-primary btn-small sign-up-button navbar-btn'>
            Sign Up
          </button>
          <button {{action "showLogIn"}} class='btn btn-primary btn-small login-button navbar-btn'>
            Log In
          </button>
        {{/if}}
{{render "user-dropdown"}}

      </ul>
      
    </div>
  </div>
</nav>


<div class='container'>
  <div class='contents clearfix'>




  </div>
</div>
