{{#if isVisible}}
<div class='topic-post'>
  <article {{bind-attr class=":boxed via_email" id="postElementId" data-post-id="id" data-user-id="user_id" }}>
    <div class='row'>

      <div class='topic-meta-data topic-avatar col-md-1 col-sm-2 col-xs-12'>

        <div class="contents">
          <a {{bind-attr href="usernameUrl" data-user-card="postModel.username" }} classnames="trigger-user-card main-avatar">
            <img width="45" height="45" {{bind-attr src="avatarUrl" title="postModel.username" }} class="avatar">
          </a>
        </div>
        <div class="poster-name pull-left">
          {{ postModel.name postModel.user_name }}
        </div>

      </div>

      <div class='col-md-10 col-sm-10 col-xs-12'>
        <div class='topic-body'>
          <div class='bottom-round contents regular'>

            <div class='post-info pull-right'>
              <span class="faded" {{bind-attr title="longCreatedAt" }} data-format="tiny">{{ago postModel.created_at }} </span> {{!-- TODO: enable bellow --}}
              <a class='post-date' {{bind-attr href="shareUrl" data-share-url="shareUrl" data-post-number="post_number" }}>
              </a>
            </div>
            <div class="cooked">
              {{{ postModel.cookedContent }}}
            </div>
           {{#if postModel.can_delete }}
              <span class='btn pull-right' style="" {{action 'startDeletingPost' }} title="">
                <i class="fa fa-trash"></i>Delete
              </span> 
            {{/if}}

            {{#if postModel.can_edit }}
              <span class='btn pull-right' style="" {{action 'startEditingPost' }} title="">
                <i class="fa fa-pencil"></i>Edit
              </span> 
            {{/if}}

          </div>
        </div>
      </div>

    </div>
  </article>


</div>

{{/if}}