<div class='topic-post'>
<article {{bind-attr class=":boxed via_email" id="postElementId" data-post-id="id" data-user-id="user_id" }}>
  <div class='row'>

    <div class='topic-meta-data topic-avatar col-md-1'>

			<div class="contents">
          <a    {{bind-attr  href="usernameUrl"  data-user-card="post.username" }}    classnames="trigger-user-card main-avatar" >
            <img width="45" height="45" {{bind-attr src="avatarUrl" title="post.username"}} class="avatar">
          </a>
      </div>
      <div class="poster-name pull-left">
        {{ post.name post.user_name }}
      </div>

    </div>

    <div class='col-md-10'>
    <div class='topic-body'>
      <div class='bottom-round contents regular'>

        <div class='post-info'>
          <a class='post-date' {{bind-attr href="shareUrl" data-share-url="shareUrl" data-post-number="post_number" }}>
                    </a>
        </div>

        <div class="cooked">
        	{{{ post.cooked }}}
        </div>

      </div>
    </div>
    </div>

  </div>
</article>


</div>



