<div class="row">
  <button class='btn btn-primary pull-right' style="" {{action 'startNewTopic' }} title="">
    <i class="fa fa-plus"></i>New Conversation
  </button>
</div>
<div class="home-title-row row">
  <h2 id="title">About this discourse section</h2>

</div>




<div class="topic-details">

  <div class="container posts">

    <div class="row">
      <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
        <div class='posts-wrapper'>

          <div class='col-md-10 col-sm-10 col-xs-12'>
            <div class='topic-body'>
              <div class='bottom-round contents regular'>
                <div class="cooked">
                  {{{ controller.primaryPost.cooked }}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>



    <div class="row reply-btn-row">
      <div class='col-md-11'>
        <button class='btn btn-primary pull-right' style="" {{action 'startEditingPrimaryPost' }} title="">
          <i class="fa fa-pencil"></i>Edit
        </button>
      </div>
    </div>



    <div class="row">

      <div class='col-md-12'>
        <h4>Comments:</h4>
      </div>
      <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
        <div class='posts-wrapper'>

          {{#each item in controller.comments }} {{post-details post=item }} {{/each}}

        </div>
    </div>



  </div>

  <div class="container">


    {{#if controller.isCommenting}}
    <div class="row reply-row">
      <div class='col-md-1 hidden-sm'>
        <h4>Comment:</h4>
      </div>
      <div class='col-md-9 col-sm-12'>
        <div class="pagedown-container bottom-round">
          {{pagedown-bootstrap height=200 btnSize=bs-sm content=model.draft focus=true }}
        </div>
      </div>
      <div class='col-md-1 col-sm-12'>
        <div style="margin-top:3%">
          <button class='btn btn-primary' style="width: 100%;margin-bottom:10px;" {{action 'processReplyToTopic' }} title="">
            Save
          </button>
          <button class='btn' style="" {{action 'cancelReplyToTopic' }} title="">
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    {{else}}
    <div class="row reply-btn-row">
      <div class='col-md-11'>
        <button class='btn btn-primary pull-right' style="" {{action 'startCommentOnSection' }} title="">
          <i class="fa fa-reply"></i>Comment
        </button>
      </div>
    </div>
    {{/if}}
  </div>


</div>
