<div class="row">
</div>
<div class="home-title-row row">
  <h2 id="title">Manage this mini-forum</h2>

</div>

{{section-overview section=section currentSection=controller.settingsService.currentSection }}

</br>

<h3>Category:</h3>
<div class="row">
  <div class="col-sm-2">
    <span style="font-weight: bold;">Name:</span> <span>{{ section.category.name }}</span>     
  </div>
  <div class="col-sm-2">
    <span style="font-weight: bold;">Read restricted:</span> <span>{{ section.category.read_restricted }}</span> 
  </div>
  <div class="col-sm-2">
    <span style="font-weight: bold;">Can edit:</span> <span>{{ section.category.can_edit }}</span> 
  </div>
  <div class="col-sm-2">
    <span style="font-weight: bold;">Topic count:</span> <span>{{ section.category.topic_count }}</span> 
  </div>
  <div class="col-sm-2">
    <span style="font-weight: bold;">Post count:</span> <span>{{ section.category.post_count }}</span> 
  </div>

  <div class="col-sm-2">
  </div>
</div>
