<div>
  <div class="row" style="">
    <div class="" style="">
      <ul class="nav nav-tabs site-nav-tabs" style="">
        <li class="active">
          {{#link-to 'discourse-sites.site' currentSiteSlug }} Conversations {{/link-to}}
        </li>
        <li class="">
          {{#link-to 'discourse-sites.site.about' }} About {{/link-to}}
        </li>
      </ul>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <h4>{{ currentSite.display_name }}</h4>
    <h6>{{ currentSite.description }}</h6>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    {{#each topic in model.topic_list.topics }}
    <div class="section-topic-line">
      {{#link-to 'discourse-sites.site.topic' currentSiteSlug topic.id }}
      <div class="section-topic-row">
        <h3 class="topic-list-title">
            {{ topic.title }}
          <small class="pull-right">
            <span class="badge-posts">{{ topic.views }}  <i class="fa fa-eye"></i></span>
            <span class="badge-posts">{{ topic.posts_count }} <i class="fa fa-comments"></i></span>
            <span class="badge-posts">last post: {{ago topic.last_posted_at }}</span>
          </small>
          </h3>
        <p class="topic-excerpt ">{{{ topic.excerpt }}}</p>

      </div>
      {{/link-to}}
    </div>
    {{/each}}
  </div>
  <div class="col-md-2">
    <div class="bs-sidebar hidden-print affix-top" role="complementary">

      <ul class="nav nav-pills nav-stacked">
        {{#each category in categoryRoot.category_list.categories }} 
        {{#link-to 'discourse-sites.site.category' currentSiteSlug category.slug tagName="li" class="topic-nav-item" }}
        <a {{bind-attr href="view.href" }}>{{ category.name }}</a> {{/link-to}} 
        {{/each}}
      </ul>

    </div>
  </div>

</div>

</div>
