<h4>Edit Section:</h4>

  <form {{action "updateSection" on="submit" }}>
    <div style="width: 50%;" class="form-group">
      <div>
        <div style="" class="">
          <label for='topic-title'>
            Name:
          </label>
        </div>
      </div>
      <div class="input">
        <div style="">
          {{input placeholder="" value=section.name autofocus="autofocus" class="form-control"}}
        </div>
      </div>

      <div class="" style="margin-top: 15px;">
        <div>
          <label>
            Subdomain Lower:
          </label>
        </div>
      </div>
      <div class="input">
        <div class="">
          {{input placeholder="" value=section.subdomain_lower autofocus="autofocus" class="form-control"}}
        </div>
      </div>

      <div class="" style="margin-top: 15px;">
        <div>
          <label>
            Discette:
          </label>
        </div>
      </div>
      <div class="input">
        <div class="">
          {{view "select" content=controller.discettes optionValuePath="content.id" optionLabelPath="content.name" selection=section.discette}}
        </div>
      </div>

      <div class="" style="margin-top: 15px;">
        <div>
          <label>
            Category Id:
          </label>
        </div>
      </div>
      <div class="input">
        <div class="">
          {{view "select" content=model.categories optionValuePath="content.id" optionLabelPath="content.name" selection=section.category}}
        </div>
      </div>

      <div class="" style="margin-top: 15px;">
        <div>
          <label>
            Users:
          </label>
        </div>
      </div>


    </div>

    <div class="form-buttons">
      <button class='btn btn-primary' type="submit" title="">
        Update
      </button>
      <button class='btn btn-danger' {{action 'deleteSection' section }} style="">
        Delete
      </button>
    </div>
  </form>