<div class="row" style="">
  <div class="" style="">
    <ul class="nav nav-tabs site-nav-tabs" style="">
      <li class="active">
        {{#link-to 'drive-admin.sections' }} Manage sections {{/link-to}}
      </li>
      <li>
        {{#link-to 'drive-admin.discettes' }} Manage discettes {{/link-to}}
      </li>

    </ul>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <h4>Sections:</h4> {{#each section in model.sections }} {{#link-to 'drive-admin.sections.details' section.id }}
    <div class="row">
      <div class="col-sm-2">
        <span style="font-weight: bold;">Name:</span> <span>{{ section.name }}</span>
      </div>
      <div class="col-sm-2">
        <span style="font-weight: bold;">Subdomain:</span> <span>{{ section.subdomain_lower }}</span>
      </div>
      <div class="col-sm-2">
        <span style="font-weight: bold;">Discette slug:</span> <span>{{ section.discette_slug }}</span>
      </div>
      <div class="col-sm-2">
        <span style="font-weight: bold;">Category slug:</span> <span>{{ section.category_slug }}</span>
      </div>
      <div class="col-sm-2">
        <span style="font-weight: bold;">Category name:</span> <span>{{ section.category_name }}</span>
      </div>

    </div>
    {{/link-to}} {{/each}}
  </div>

  <div class="col-sm-6">
    {{outlet}}
  </div>

</div>
