
<div>
        {{#each topic in model.topic_list.topics }}
      <div class="section-topic-line">
        {{#link-to 'topic' topic.id topic.slug }}
        <div class="section-topic-row">
          <h3 class="topic-list-title">
            {{ topic.title }}
          <small class="pull-right">
            <span class="badge-posts">{{ topic.views }}  <i class="fa fa-eye"></i></span>
            <span class="badge-posts">{{ topic.posts_count }} <i class="fa fa-comments"></i></span>
            <span class="badge-posts">last post: {{ago topic.last_posted_at }}</span>
          </small>
          </h3>
          <p class="topic-excerpt ">{{{ topic.excerpt }}}</p>

        </div>
        {{/link-to}}
      </div>
      {{/each}}
</div>