

{{outlet}}


    <div class="row">
      <button class='btn btn-primary pull-right' style="" {{action 'createTopic' }} title="">
        <i class="fa fa-plus"></i>New Conversation
      </button>
    </div>
    <div class="row">
      <h2 id="title">Conversations in this discourse section</h2>

    </div>



    {{#each topic in model }}
    <div class="section-topic-line">
      {{#link-to 'topic' topic.slug }}
      <div class="row section-topic-row">
        <h3 class="topic-list-title">
        {{ topic.title }}
      </h3>
        <p class="topic-excerpt ">{{{ topic.excerpt }}}</p>

      </div>


      <div style="margin-left: 1%;">
        {{#each location in topic.locations }}
        <span class="badge-places">{{ location.title }} <i class="fa fa-map-marker"></i></span> {{/each}}

        <div class="pull-right">
          <span class="badge-posts">{{ topic.views }}  <i class="fa fa-eye"></i></span>
          <span class="badge-posts">{{ topic.posts_count }} <i class="fa fa-comments"></i></span>
          <span class="badge-posts">last post on: {{ topic.last_posted_at }}</span>
        </div>
      </div>

      {{/link-to}}

    </div>

    {{/each}} 