<div class="topic-details">

  <h1 style="">{{ model.title }}
  </h1>

  <div class="container posts">

    <div class="row">
      <section class="topic-area" id='topic' data-topic-id='{{unbound id}}'>
        <div class='posts-wrapper'>

          {{#each item in model.post_stream.posts }}
            {{post-details post=item }}
          {{/each}}

        </div>
    </div>
  </div>

  <div class="container">
    

    {{#if controller.isEditing}}
    <div class="row reply-row">
      <div class='col-md-1'>
        <h4>Reply:</h4>
      </div>
      <div class='col-md-9'>
        <div class="pagedown-container bottom-round">
          {{pagedown-bootstrap height=200 btnSize=bs-sm content=model.draft focus=true }}
        </div>
      </div>
      <div class='col-md-1'>
      <button class='btn btn-primary' style="width: 100%;margin-bottom:10px;" {{action 'processReplyToTopic' }} title="">
        Save
      </button>
      <button class='btn' style="" {{action 'cancelReplyToTopic' }} title="">
        Cancel
      </button>
      </div>
    </div>
    <div class="row">
    </div>
    {{else}}
        <div class="row reply-btn-row">
          <div class='col-md-11'>        
            <button class='btn btn-primary pull-right' style="" {{action 'startReplyToTopic' }} title="">
              <i class="fa fa-plus"></i>Reply
            </button>
          </div>
        </div>
    {{/if}}
  </div>


</div>
